![image](https://edukasyon-production.s3.amazonaws.com/uploads/school/avatar/19/adamson-university_logo.jpg)

<h1><center><b>
    Adamson University
    <br> College of Engineering
    <br> Computer Engineering Department
</b></center></h1>

<center><i>[1] ANGELO, Jamaica Joy S., [2] ESCOBAR, Angela Shanine E., [3] GUZMAN, Nicole Anne R., [4] ROA, Danica Kate I.</i></center>

<h2><center><b><u>Code Activity 1: Revisiting Python

In this code activity the foundation of the expertise in Python programming will be established and the sleeping skills will be awaken, in this notebook we will be discussing the following topics:<br><br>
I. Variables and Data Types<br>
II. Operations
> a) Arithmetic<br>
> b) Assignment<br>
> c) Comparison Operators<br>
> d) Logical<br>
> e) Input/Output<br>
> f) Iterables <br>
> g) Tuples<br>
> h) Dictionaries<br>

III. Looping Statements<br>
IV. Flow Control<br>
V. Functions<br>

<b>OBJECTIVES</b>
* To be familiarized with the basic functions in Python Porgramming
* To use the knowledge in Python programming to create a system of codes that calculates the semestral grade

<h3><b>I. VARIABLES AND DATA TYPES</b></h3>

In Jupyter Notebook, it is important to always declare all of the values that will be needed all throughout your coding project

In [ ]:
x = 1
a,b = 0, -1

Displaying the data type of a variable can easily obtain by simply enclosing the variable you would like to identify inside the function `type()`

In [ ]:
type(x)

int

In [ ]:
y = 1.0
type(y)

float

In [ ]:
x = float(x)
type(x)

float

In [ ]:
s,t,u = "0", '1', 'one'
type(s)

str

In [ ]:
s_int = int(s)
s_int

0

<h3><b>II. OPERATIONS</b></h3>

In Python programming, mathematical operators can be used to perform arithmetic operations.

<h4>a) Arithmetic Operations</h4>

Before executing an operation, all values that will be used could be stored in a variable and be defined into a single cell, it makes the arithmetic operations easier as numeric values doesn't require to be inputted all the time.

In [ ]:
a,b,c,d = 2.0, -0.5, 0, -32

<h5><center><u>Addition</u></h5></center>

In Additon, you could use the plus operator  `+` to add operands.

In [ ]:
S = a+b
S

1.5

<h5><center><u>Subtraction</u></h5></center>

Using the subtraction operator  `-` on the other hand, enables you to subtract the second operand (subtrahend) from the first operand (minuend)

In [ ]:
D = b-d
D

31.5

<h5><center><u>Multiplication</u></h5></center>

The product of the two operands can be obtained by using the operator `*` in between the operands.

In [ ]:
P = a*d
P

-64.0

<h5><center><u>Division</u></h5></center>

Division in Python programming is done using the `/` operator.

In [ ]:
Q = b/c
Q

ZeroDivisionError: ignored

The operation `Q = b/c` is not viable and therefore displayed an error message since the value of `b` is `-0.5` while  `0` for `c`. Any numerical value that is divided by 0 is undefined.

In [ ]:
alpha =  1e-6         
Q = b/(c+alpha)
Q

-500000.0

However, adding a constant value of   `alpha = 1e-6` for example, creates a change which made the division operation possible, with this, the previous divisor of `0` has now a value of  `0.000001`.

<h5><center><u>Floor Division</u></h5></center>

Floor Division also operates similar to the usual division operation, however, the least nearest integer value of the quotient will be displayed as the result. In addition, the floor division operation uses the double slash operator or `//`.

In [ ]:
Fq = a//5
Fq

0.0

For example, the above cell display a resulting value of `0.0` the least nearest value of `0.4` which is the result of the division operation of `a/5`.

<h5><center><u>Exponentiation</u></h5></center>

In Python, using a `for loop` isn't necessary in obtaining the exponentiation value, any number that uses the double asterisk operator or `**` raised to an `n` value results to the exponentiation of that number.

In [ ]:
E = 2**10
E

1024

The equation $Lx^{3}+Mx^{2}+Nx+O$ has an equivalent Python code of:

In [ ]:
L,M,N,O,x = 2,4,6,8,1

exp = L*x**3 + M*x-2 + N*x + O
exp

18

<h5><center><u>Modulo</u></h5></center>

Modulo operation simple takes the remainder of your operands with the use of `%` operator

In [ ]:
mod = d%a
mod

0.0

<h4>b) Assignment Operations</h4>

>Operators are used to processing values and variables. These are special symbols that do the math, logic, a little calculation. The cost of working with the operator is called an operand. <b>Assignment Operators</b>are used to assigning values to variables.

In [ ]:
G, H, J, K = 0, 100, 2, 2

In [ ]:
G += a 
G

2.0

In [ ]:
H -= 10
H

90

In [ ]:
J *= 2
J

4

In [ ]:
K **= 2
K

4

In [ ]:
# Assigning values using  
# Assignment Operator 
a = 10
b = 5 
c = a + b  
print(c)

15

In [ ]:
# This operator is used to combine the operand on the left with the operand on the right, and then the result is assigned to the left.
a = 10
b = 5
  
# a = a + b 
a += b 
print(a)

15

In [ ]:
# The operator is used to calculate the exponent
a = 10
b = 5 
# a = a ** b 
a **= b  
print(a)

100000

In [ ]:
# BITWISE "AND (&)" and "OR (|)"
a = 10
b = 10
c = 5
d = 3
# a = a & b 
a &= b 
c |= d 
# Output 
print(" Answer for AND:", a)
print(" Answer for OR :",c)

 Answer for AND: 10
 Answer for OR : 7

<h4>c) Comparison Operators</h4>

Comparison Operators or sometimes reffered as relational operators in Python returns a `True` or `False` value depending whether the condition is met after comparing two operand values. <br><br>The operators used in here are: `==`  which is used to compare the equality of two operators and `!=` for being non-equal, while `<`, `>`, `>=`, and `<=` for inequalities.

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

<h5><center><u>Equality</u></h5></center>

In [ ]:
res_1 == true_val

In checking the equality between `res_1` with a value of `1` and `true_val` with a value of `1.0`, the ouput is `True` which implies that both operands are equal and has the same value even though their data types differ.

<h5><center><u>Non-equality</u></h5></center>

In [ ]:
res_1 != true_val

Since it haas been proven that the operands `res_1` and `true_val` are equal, comparing them with the non-equal operator `!=` returns a `False` output.

<h5><center><u>Inequality</u></h5></center>

In [ ]:
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2  
print(t1)
print(t2)
print(t3)
print(t4)

Inequality operators compares operands if it is greater than the other operand, greater than or equal, less than, or less than or equal.

<h4><b>d) Logical</b></h4>

This checks if the `res` is equal:

In [ ]:
res_1 == true_val

True

But, if we enforced the `is` or the  `identity` operator, it will return as `False` even though they have the same value because they have different data types.

In [ ]:
res_1 is true_val

False

In [ ]:
res_1 is not true_val

True

<i>The only condition where it will be </i> `True` <i>is when both values or all variables are true. In this case, the variable</i> `p` <i>is</i> `True` <i>while the variable</i> `q` <i>is</i> `False` <i>, hence the output will be</i> `False` <i>as well.</i>

In [ ]:
p, q = True, False
conj = p and q
conj

False

The cell below is the **disjuntion operator** (or) will still be true as long as there is *at least one* variable that holds **true**.

In [ ]:
p, q = True, False
disj = p or q 
disj

True

We can't perform the negation in here. So firstly, we will do the `and` operator first, then following the `nand` operator so that it will invert the values.

In [ ]:
p, q = True, False
nand = not(p and q)
nand

True

If we want to change the code below into **De Morgan's Theorem**,

In [ ]:
p, q = True, False
nand = not(p and q)
nand

True

We will just simply add `nand_dm = not p or not q` underneath the `nand` variable.

In [ ]:
p, q = True, False
nand = not(p and q)
nand_dm = not p or not q
nand == nand_dm

True

Lastly, in here, **XOR operator** will only be `true` if all the values *are not equal* to each other. Below are the examples of the **XOR** problem and their outputs:

In [ ]:
p, q = True, False
xor = (not p and q) or (p and not q)
xor

True

In [ ]:
p, q = True, True
xor = (not p and q) or (p and not q)
xor

False

In [ ]:
p, q = False, True
xor = (not p and q) or (p and not q)
xor

True

In [ ]:
p, q = False, False
xor = (not p and q) or (p and not q)
xor

False

<h4><b>e) Input/Output</b></h4>

The `print()` function basically prints all the specified messsage to the screen. This can be a *string*, or any other object. This is also the simplest way to produce output wherein we can pass zero or more expressions which are separated by commas. The `print()` function converts the expressions that we pass into a string before writing to the screen.

In [ ]:
print("wassup sa inyo dyan")

wassup sa inyo dyan

Basically, `cnt += 1` means that `cnt` is increased or added by **one**. It is the same as adding **a** and **b**—**a + b**, except that the `+` sign always return the newly allocated object. But `+=` should modify the object/ variable in place if it is mutable.

In [ ]:
cnt = 1

In [ ]:
string = "Hello World"
print(string, ", Current run count is:", cnt)
cnt += 1

Hello World , Current run count is: 1

In here, `cnt` is implemented once again and it is increased by one and so, the current count that is printed as an output is `2`.

In [ ]:
print(f"{string}, Current count is: {cnt}")

Hello World, Current count is: 2

Here, we have a *long float* and we just want to get the 3 decimal places of it for accuracy. So what happened here is that we added `{:.3f}`. `.3` stands for the decimal place that we want to set—which is 3, and the `f` stands for **float**.

In [ ]:
sem_grade = 82.243564657461234
name = "Megumi"
print("Hello {}, your semestral grade is: {:.3f}".format(name, sem_grade))

Hello Megumi, your semestral grade is: 82.244

Here, if we want to compute percentages without actually computing for it, we can try adding the `{:.2%}` and then, it will automatically be in its **percentage form**.

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

If we want to enter a text, we may use the `input()` function wherein it allows user input.

In [69]:
x = int(input("enter a number: "))
x

enter a number: 7

7

In [92]:
name = input("Kimi no nawa: ")
pg = float(input("Enter prelim grade: "))
mg = float(input("Enter midterm grade: "))
fg = float(input("Enter finals grade: "))
sem_grade = (pg*0.30) + (mg*0.30) + (fg*0.40)
print("Hello {}! Your semestral grade is: {:.3}".format(name, sem_grade))

Kimi no nawa: Nicole
Enter prelim grade: 95
Enter midterm grade: 98
Enter finals grade: 99
Hello Nicole ! Your semestral grade is: 97.5

<h3> <b>ACTIVITY</b>

In [ ]:
Create a grade calculator that computes for the semestral grade of a course.
Students could type their names, the name of the course, then their prelim,
midterm, and final grade.
The program should print the semestral grade in 2 decimal points and should
display the following emojis depending on the situation:
happy - when grade is greater than 70.00
laughing - when grade is exactly 70.00
sad - when grade is below 70.00
'''
happy, lol, sad = "\U0001F600","\U0001F923","\U0001F619"

By using the input function and some minor tweaking, we are able to achieve the computation for the semestral grades for the course **Titan Killing 101**. The `sem_grade`'s percentage are `0.30`, `0.30`, and `0.40`. 

Then we used the `if` and `elif` statements in order to achieve the displaying of the grades with their corresponding emojis. If they get a grade that is *higher* than `70`, the emoji that will appear would be **happy**. If it is **exactly** `70`, the emoji would the **laughing** one and if the grade is **below 70**, the emoji would be **sad**.

In [ ]:
name = input("Full Name: ")
course = input("Course: ")
pg = float(input("\nEnter Prelim grade: "))
mg = float(input("Enter Midterm grade: "))
fg = float(input("Enter Finals grade: "))
sem_grade = (pg*0.30) + (mg*0.30) + (fg*0.40)
if sem_grade >= 70:
  print("\nHello {}! Your semestral grade is: {:.2f} \U0001F600".format(name, sem_grade))
elif sem_grade == 70:
  print("\nHello {}! Your semestral grade is: {:.2f} \U0001F923".format(name, sem_grade))
elif sem_grade <= 69:
  print("\nHello {}! Your semestral grade is: {:.2f} \U0001F614".format(name, sem_grade))

Full Name: Connie Springer
Course: Titan Killing 101

Enter Prelim grade: 98
Enter Midterm grade: 93
Enter Finals grade: 94.36

Hello Connie Springer! Your semestral grade is: 95.04 😀

<h4>f) Iterables</h4>

Iterable is an object with a __iter__ method that returns a repeater or sets a __getitem__ method that can take an index starting at zero (and the index increases when the index is no longer correct).

In [88]:
d = { "one": 1, "two": 2, "three": 3, "four": 4, "five": 5 }
iterable = d.keys()
for item in iterable:
    print(item)

one
two
three
four
five

In [89]:
Friends = [ "Ross","Joey","Rachel","Pheobe" ]
iterator = iter(Friends)
x = next(iterator) 
print(x)

Ross

In [90]:
string = "Garage"
iter = iter(string)

print(next(iter))
print(next(iter))
print(next(iter))
print(next(iter))
print(next(iter))
print(next(iter))

G
a
r
a
g
e

In [91]:
mystr = "banana"
for x in mystr:
  print(x)

b
a
n
a
n
a

<h4>g) Tuples</h4>

It is a collection of objects that are organized and permanent. There are tuple sequences, like lists. The difference between tuples and lists is that tuples cannot be changed and tuples use brackets while the list uses square brackets.

In [80]:
tup1 = ('Logic and Design', 'Object Oriented Programming Lab', 'Linear Algebra for CpE Lab','Visual Communication Lab');
print(tup1)

('Logic and Design', 'Object Oriented Programming Lab', 'Linear Algebra for CpE Lab', 'Visual Communication Lab')

In [81]:
# Tuple having integers
tuple1 = (1, 2, 3)
print(tuple1)

(1, 2, 3)

In [82]:
# tuple with mixed datatypes
mixedtuple = (1, 'Hello', 2, 'World')
print(mixedtuple)

(1, 'Hello', 2, 'World')

In [83]:
# concatenation Tuple
Friends= ('Ross Geller','Rachel Green','Monica Geller','Chandler Bing ','Joey Tribbiani','Pheobe Buffay')
TL=('Watchu doin','Joey, doesnt share food','We were on a break')
print(Friends + TL)

('Ross Geller', 'Rachel Green', 'Monica Geller', 'Chandler Bing ', 'Joey Tribbiani', 'Pheobe Buffay', 'Watchu doin', 'Joey, doesnt share food', 'We were on a break')

In [84]:
# Converting List into Tuple
List1 = [1, 2, 3, 4, 5] 
print(tuple(List1)) 
print(tuple('Friends')) # string 'python'

(1, 2, 3, 4, 5)
('F', 'r', 'i', 'e', 'n', 'd', 's')

In [85]:
# Finding the length of the tuple
Tuple1 = ('Goal', 'Diggers') 
print(len(Tuple1))

2

In [86]:
# Accessing tuple elements using slicing
my_tuple = ('a','d','a','m','s','o','n')

# elements 2nd to 4th
print(my_tuple[1:4])

('d', 'a', 'm')

In [87]:
# Membership test in tuple
# The word "in" wil determine whether the letter exist on the tuple
my_tuple = ('f', 'r', 'a', 'n', 'k',)

# In operation
print('f' in my_tuple)
print('b' in my_tuple)

# Not in operation
print('k' not in my_tuple)

True
False
False

<h4>h) Dictionaries</h4>

Dictionaries Python's data structure is often called an auxiliary structure. The dictionary contains a collection of key-value pairs. Each key-value pair assigns a key to its assigned value. Can define a dictionary by attaching a comma-separated list of key-value pairs in **curly braces ({})**. **Colon (:)** separates each key from its relative value. It can also create a dictionary with the built-in **dict()** function.

In [76]:
# Creating Phyton Dictionary
dict1 = {
  "brand": "Dodge",
  "model": "Challenger",
  "year": 1964
}
dict1

{'brand': 'Dodge', 'model': 'Challenger', 'year': 1964}

In [79]:
# Accessing the Dictionary
dict1 = {'name': 'Michelle', 'age': 20}
print(dict1['name'])
print(dict1.get('age'))

# Trying to access keys which doesn't exist throws error
# Output None
print(dict1.get('address'))

# KeyError
# If you use square brackets [], you will get a KeyError if the key cannot be found in the dictionary.
print(dict1['address'])

Michelle
20
None

TypeError: ignored

In [ ]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'Michelle', 'age': 20}

# update value
my_dict['age'] = 21
print(my_dict)

# add item
my_dict['address'] = 'Bacoor'

print(my_dict)

<h3><b>III. LOOPING STATEMENTS</b></h3>

<h4>a) While</h4>

The while Statment requires important factors to be prepared, in this model we need to characterize an ordering variable, I, which we set to 1

In [75]:
i = 2
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

2
3

In [74]:
i = 1
while i < 6:
  print(i)
  if i == 10:
    break
  i += 1

1
2
3
4
5

<h4>b) For</h4>

A for loop is utilized for repeating over an arrangement that is either a rundown, a tuple, a word reference, a set, or a string.  This is less similar to the for catchphrase in other programming dialects, and works more like an iterator technique as found in other article orientated programming dialects.

In [72]:
members = ["Angelo","Escobar", "Guzman", "Roa"]
for x in members:
  print(x)

Angelo
Escobar
Guzman
Roa

In [73]:
num= 6
if num > 0 :
    print ("Positive Number")
elif num == 0 :
  print ("Zero")
else:
  print ("Negative Number")

Positive Number



<h3><b>IV. FLOW CONTROL</b></h3>

The Flow Control of a Python program is controlled by contingent explanations, circles, and capacity calls. Python has three sorts of control structures: Consecutive - default mode. Choice - utilized for choices and expanding.

<h4> Condition Statements

In [70]:
num= -5
if num > 0 :
    print ("Positive Number")
elif num == 0 :
  print ("Zero")
else:
  print ("Negative Number")

Negative Number

In [71]:
num= 0
if num > 0 :
    print ("Positive Number")
elif num == 0 :
  print ("Zero")
else:
  print ("Negative Number")

Zero

In [ ]:
numeral1, numeral2 = 12, 12
if(numeral1 == numeral2):
    print("Yey")
elif(numeral1>numeral2):
    print("Hoho")
else:
    print("Aww")
print("Hip hip")

Yey
Hip hip



<h3><b>V. Functions</b></h3>

A function refers to a block of code which runs if and only if it is called, passing of data (parameters) into a functions  is possible and returns data as a result.
<br>
<br> Creating a function in python uses the function `def` and calling a function is simply done by using the function name assigned.

In [66]:
# void DeleteUser(int userid){
#     delete(userid);
# }

def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))
    
def delete_all_users ():
    print("Successfully deleted all users")

In [67]:
userid = 0
delete_user(0)
delete_all_users()

Successfully deleted user: 0
Successfully deleted all users

In [68]:
def add(addend1, addend2):
    return addend1 + addend2

def power_of_base2(exponent):
    return 2**exponent

<h4> Lambda Functions

The function `lambda` is an anonymous function, it can take a number of arguments into a single expression.

In [63]:
x = 4

In [64]:
def f(x):
  return 2*(x*x)-1
f(x)

31

In [65]:
g = lambda x: 2*(x*x)-1
print(g(x))

31

## **REFERENCES**

[1] aarushiramesh, “aarushiramesh/Build_with_Rushi,” GitHub, Aug. 25, 2020. https://github.com/aarushiramesh/Build_with_Rushi/blob/master/Grade_Calculator/grade_calculator.py (accessed Feb. 10, 2021).<br>‌
[2] Tutorialspoint. “Python - Tuples - Tutorialspoint.” Tutorialspoint. https://www.tutorialspoint.com/python/python_tuples.htm (accessed: Feb. 10, 2021).<br>
[3] “Python print() Function,” W3schools.com, 2021. https://www.w3schools.com/python/ref_func_print.asp (accessed Feb. 10, 2021).<br>
[4] “Python | Output using print() function - GeeksforGeeks,” GeeksforGeeks, Dec. 14, 2018. https://www.geeksforgeeks.org/python-output-using-print-function/ (accessed Feb. 10, 2021).<br>
[5]
A. Mahdal. “What exactly are iterator, iterable, and iteration? - Stack Overflow.” https://stackoverflow.com/questions/9884132/what-exactly-are-iterator-iterable-and-iteration (accessed: Feb. 10, 2021).<br>
[6]
J. Sturz. “Dictionaries in Python – Real Python.” Real Python. https://realpython.com/python-dicts/ (accessed: Feb. 10, 2021).<br>
[7]Ankthon, “Assignment Operators in Python,” GeeksforGeeks, 29-Aug-2020. [Online]. Available: https://www.geeksforgeeks.org/assignment-operators-in-python/. (Accessed: 11-Feb-2021). <br>
[8] “Inplace vs Standard Operators in Python - GeeksforGeeks,” GeeksforGeeks, Jan. 10, 2017. https://www.geeksforgeeks.org/inplace-vs-standard-operators-python/ (accessed Feb. 13, 2021).<br>
[9] “What does += mean in Python?,” Stack Overflow, May 05, 2009. https://stackoverflow.com/questions/823561/what-does-mean-in-python/823878 (accessed Feb. 13, 2021).<br>
[10] “Python input() Function,” W3schools.com, 2021. https://www.w3schools.com/python/ref_func_input.asp (accessed Feb. 13, 2021).<br>
[11] “Python While Loops,” W3schools.com, 2021. https://www.w3schools.com/python/python_while_loops.asp (accessed Feb. 13, 2021).<br>
[12] “Python For Loops,” W3schools.com, 2021. https://www.w3schools.com/python/python_for_loops.asp (accessed Feb. 13, 2021).<br>
[13] DataFlair. 2021. Python Comparison Operators with Syntax and Examples - DataFlair. [online] Available at: <https://data-flair.training/blogs/python-comparison-operators/> [Accessed 13 February 2021].<br>
[14] W3schools.com. 2021. Python Functions. [online] Available at: <https://www.w3schools.com/python/python_functions.asp> [Accessed 13 February 2021].<br>
[15] W3schools.com. 2021. Python Lambda. [online] Available at: <https://www.w3schools.com/python/python_lambda.asp> [Accessed 13 February 2021].